<!DOCTYPE html>
<!-- templates -->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
</head>

<body>
  <style>
    #swRoot {
      width: 100%;
      height: 100%;
    }
  </style>
  <div id="swRoot"></div>
  <script src="https://oss.dreambigcareer.com/web/SW/flexible-classroom/test/edu_sdk.bundle.js"></script>
  <script src="https://oss.dreambigcareer.com/web/SW/flexible-classroom/test/edu_widget.bundle.js"></script>

  <script type="text/javascript">
    function useParams(location) {
      const searchString = location.href.split('?').pop();
      const urlParams = new URLSearchParams(location.href.split('?').pop());
      const audienceParams = {};
      for (let key of urlParams.keys()) {
        audienceParams[key] = urlParams.get(key);
      }
      console.log('urlParams ', audienceParams);
      return audienceParams;
    }
    const {
      userUuid,
      userName,
      roomUuid,
      roleType,
      roomType,
      roomName,
      pretest,
      rtmUid,
      rtmToken,
      language,
      startTime,
      duration=60 * 30,
      recordUrl="https://oss.dreambigcareer.com/record_page_prod.html",
      appId ='21d015747d8543f5bc70f182d82eeb94',
      userRole,
      translateLanguage,
      region,
      minFPS = 1,
      maxFPS = 5,
      resolution = 0.8,
    } = useParams(window.location);
    AgoraEduSDK.config({
      appId,
      region: region ? region : 'AP',
    });
    AgoraEduSDK.launch(document.querySelector('#swRoot'), {
      userUuid:'7888',
      userName:'学员',
      roomUuid:'eduRoom_146_300097_1708653495305',
      roleType: 2,
      roomType: 2,
      roomName:'导师test335&学员test emily的在线课堂',
      pretest: false,
      rtmToken:'007eJxTYHi8QG3TxeUix+Rv2bcVb1sgefDL4sXZyk9yHi+TC3tx6dhLBQYjwxQDQ1NzE/MUC1MT4zTTpGRzgzRDC6MUC6PU1CRLkyN/rqc2BDIyNCU6szIzMDEwAiGIz8JgbmFhwQrnKzAYGhqlWqaYmZsnm5tYGANNTDMyNEs0NDE3SEpNMTc2YWdgAKpKTSkNys/PjTc0MYs3NjAwsDSPNzQ3sDAzNTaxNDU2MIWYy8QAAApcNGU=',
      language:'zh',
      startTime,
      duration,
      recordUrl,
      appId,
      uiMode: "dark",
      courseWareList: [],
      platform:'H5',
      widgets: {
          easemobIM: AgoraHXChatWidget, // IM widget
          mediaPlayer: FcrStreamMediaPlayerWidget, // 视频同步播放器widget
          poll: AgoraPolling, // 投票器widget
          watermark: FcrWatermarkWidget, // 水印widget
          webView: FcrWebviewWidget, // 内嵌浏览器widget
          netlessBoard: FcrBoardWidget, // 互动白板widget
          im:AgoraHXChatWidget
      },
      listener: (evt, args) => {
        console.log('connected to classroom', evt, args);
        if (evt === 1) {
          // do something when classroom is connected
          // AgoraEduSDK.setRecordReady();
        }
      },
    });

  </script>

</body>

</html>